@import url('https://fonts.googleapis.com/css2?family=Gayathri&display=swap');
//colors
$color-padrao: #AB81CD;
$color-secundaria: #fff;
$color-gray: #C3BABA;
$color-orange:#E3170A;

//fonts
$font-padrao:  'Gayathri', sans-serif;


//fonts-size

$font-size-sub: 24pt;
$font-size-sub-two: 16pt;
$font-secundaria:12pt;
$font-time:10pt;
$font-contatos:8pt;